@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root[data-theme="emerald"] {
  --color-blue-50: var(--color-emerald-50);
  --color-blue-100: var(--color-emerald-100);
  --color-blue-200: var(--color-emerald-200);
  --color-blue-300: var(--color-emerald-300);
  --color-blue-400: var(--color-emerald-400);
  --color-blue-500: var(--color-emerald-500);
  --color-blue-600: var(--color-emerald-600);
  --color-blue-700: var(--color-emerald-700);
  --color-blue-800: var(--color-emerald-800);
  --color-blue-900: var(--color-emerald-900);
  --color-blue-950: var(--color-emerald-950);
}

:root[data-theme="indigo"] {
  --color-blue-50: var(--color-indigo-50);
  --color-blue-100: var(--color-indigo-100);
  --color-blue-200: var(--color-indigo-200);
  --color-blue-300: var(--color-indigo-300);
  --color-blue-400: var(--color-indigo-400);
  --color-blue-500: var(--color-indigo-500);
  --color-blue-600: var(--color-indigo-600);
  --color-blue-700: var(--color-indigo-700);
  --color-blue-800: var(--color-indigo-800);
  --color-blue-900: var(--color-indigo-900);
  --color-blue-950: var(--color-indigo-950);
}

:root[data-theme="rose"] {
  --color-blue-50: var(--color-rose-50);
  --color-blue-100: var(--color-rose-100);
  --color-blue-200: var(--color-rose-200);
  --color-blue-300: var(--color-rose-300);
  --color-blue-400: var(--color-rose-400);
  --color-blue-500: var(--color-rose-500);
  --color-blue-600: var(--color-rose-600);
  --color-blue-700: var(--color-rose-700);
  --color-blue-800: var(--color-rose-800);
  --color-blue-900: var(--color-rose-900);
  --color-blue-950: var(--color-rose-950);
}
